{% assign post = include.post %}

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@notion_farm" />
<meta name="twitter:title" content="{{ post.title }}" />
<meta name="twitter:description" content="{{ post.excerpt | remove: '<p>' | remove: '</p>' }}" />
<meta name="twitter:image" content="/images/NF-album-art-1024.jpg" />
<meta name="twitter:image:alt" content="The Notion.farm logo is a red barn with a thought bubble on the front." />

<article id="post-{{ post.id | slice: 1,9999 }}" class="post{% unless include.link_title %} dingbat{% endunless %}" role="article">
  <header>
    <h1 class="post-title">
      {% if include.link_title %}<a href="{{ post.url | relative_url }}" data-flip="title">{% endif %}
        {{ post.title }}
      {% if include.link_title %}</a>{% endif %}
    </h1>

    {% if post.categories contains "episode" %}
      {% capture tags_content %}
        {% include tag-list.html tags=post.tags meta=site.featured_tags start_with=" | " separator=", " %}
      {% endcapture %}
    {% endif %}

    <p class="post-date heading">
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d %b %Y" }}</time>{% if post.categories.size > 0 or post.tags.size > 0 %} {% endif %}
      {{ categories_content }}
      {{ tags_content }}
    </p>
  </header>

  {% include message.html text=post.description %}
  <hr/>

  {% unless include.excerpt %}

    <audio src="/audio/episode-1.mp3" class="mejs__player"></audio>

    <p></p>
    {{ post.content }}
  {% else %}
    {{ post.excerpt }}
    <hr/>
    </span>
  {% endunless %}

</article>
